{% extends 'base.html' %}

{% load static %}

{% block title %}APAPESC - Home {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

<!--Bloco Página -->
{% block content %}
{% include 'components/navbar_home.html' %}


    {% for obj in ApapescHome %}
        <div class="hero-section">
            <div class="hero-content">
                <h1>{{ obj.titulo }}</h1>
                <p>{{ obj.descricao }}</p>
                <a href="#" class="hero-button">Ver detalhes</a>
            </div>
        </div>
    {% empty %}
        <p>Nenhuma associação encontrada.</p>
    {% endfor %}

    <div style="text-align: center; margin-top: 50px;">
        <h1>Bem-vindo(a)!</h1>
        <p>Esta é sua casa! Entre e fique a vontade!.</p>

        {% if user.is_authenticated %}
        <p>Olá, {{ user.username }}!</p>
        <p><a href="{% url 'app_accounts:dashboard_superuser' %}">Ir para o Dashboard</a></p>
        <p><a href="{% url 'account_logout' %}">Logout</a></p>
        {% else %}
        <p><a href="{% url 'account_login' %}">Login</a> | <a href="{% url 'account_signup' %}">Cadastro</a></p>
        {% endif %}
    </div>

{% endblock %}