
{% extends 'base.html' %}

{% load static %}
{% block title %}SuperDash {% endblock %}
<!--Bloco Página -->
{% block content %}
{% include 'components/navbar_superuser.html' %}

    <div id="toast-container">
        {% for message in messages %}
            {% with message.tags as tag %}
                <div class="toast 
                    {% if 'success' in tag %}toast-success{% elif 'error' in tag or 'danger' in tag %}toast-error
                    {% elif 'info' in tag %}toast-info
                    {% elif 'warning' in tag %}toast-warning
                    {% else %}toast-info{% endif %}">
                    <span>{{ message }}</span>
                    <button class="toast-close" onclick="this.parentElement.remove()">×</button>
                </div>
            {% endwith %}
        {% endfor %}
    </div>

    
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Bem-vindo ao Dashboard do Superusuário</h1>
            <p>Este é o painel de controle para superusuários.</p>
        </div>
    </div>
    <!-- Adicione mais conteúdo aqui conforme necessário -->
{% endblock %}