{% extends 'base.html' %}
{% load static %}

{% block title %}Nova Profissão{% endblock title%}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/mensagens.css' %}">
{% endblock %}

{% block content %}
{% include 'components/navbar_superuser.html' %}

    <div id="toast-container">
        {% for message in messages %}
            {% with message.tags as tag %}
                <div class="toast 
                    {% if 'success' in tag %}toast-success{% elif 'error' in tag or 'danger' in tag %}toast-error
                    {% elif 'info' in tag %}toast-info
                    {% elif 'warning' in tag %}toast-warning
                    {% else %}toast-info{% endif %}">
                    <span>{{ message }}</span>
                    <button class="toast-close" onclick="this.parentElement.remove()">×</button>
                </div>
            {% endwith %}
        {% endfor %}
    </div>
    
    <div class="form-container">
        <h1>Cadastro de Profissão</h1>
        <p>Profissões são aplicadas tanto aos <strong> integrantes da equipe</strong> quanto aos <strong>associados.</strong></p>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <!-- Cadastro de Profissão -->
            <div class="form-group">
                {{ form.nome.label_tag }}
                {{ form.nome }}
                {% if form.nome.errors %}
                <div class="field-error">
                    {% for error in form.nome.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}                  
            </div>
            <button type="submit">Salvar</button>
        </form>
    </div>

{% block extra_js %}
    <!-- Seu JS com as máscaras -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/imask/6.4.2/imask.min.js"></script>
    <script src="{% static 'js/cep_autocomplete.js' %}"></script>
    <script src="{% static 'js/mascaras.js' %}"></script>
{% endblock %}
{% endblock %}