{% extends 'base.html' %}
{% load static %}

{% block title %}Nova Profissão{% endblock title%}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
{% include 'components/navbar_superuser.html' %}

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="message {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    
<div class="form-container">
    <h1>Cadastro de Profissão</h1>
    <p>Profissões são aplicadas tanto aos <strong> integrantes da equipe</strong> quanto aos <strong>associados.</strong></p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <!-- Cadastro de Profissão -->
        <div class="form-group">
            {{ form.nome.label_tag }}
            {{ form.nome }}
        </div>
   

        <button type="submit">Salvar</button>
    </form>
</div>

{% block extra_js %}
    <!-- Seu JS com as máscaras -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/imask/6.4.2/imask.min.js"></script>
    <script src="{% static 'js/cep_autocomplete.js' %}"></script>
    <script src="{% static 'js/mascaras.js' %}"></script>
{% endblock %}
{% endblock %}