{% extends 'base.html' %}
{% load static %}

{% block title %}Lista de Cargos{% endblock title%}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/listas.css' %}">
    <link rel="stylesheet" href="{% static 'css/mensagens.css' %}">
{% endblock %}

{% block content %}
{% include 'components/navbar_superuser.html' %}

<div class="lista-container-small">
    <h1>Lista de Cargos</h1>
    <a href="{% url 'app_associacao:create_cargo' %}" class="btn-action btn-right">
        👩‍🔧 Novo Cargo
    </a>
    <div id="toast-container">
        {% for message in messages %}
            {% with message.tags as tag %}
                <div class="toast 
                    {% if 'success' in tag %}toast-success{% elif 'error' in tag or 'danger' in tag %}toast-error
                    {% elif 'info' in tag %}toast-info
                    {% elif 'warning' in tag %}toast-warning
                    {% else %}toast-info{% endif %}">
                    <span>{{ message }}</span>
                    <button class="toast-close" onclick="this.parentElement.remove()">×</button>
                </div>
            {% endwith %}
        {% endfor %}
    </div>

    <table class="table-list-small">
        <thead>
            <tr>
                <th>Cargo ID</th>
                <th>Cargo Nome</th>
                <th>Ações</th>

            </tr>
        </thead>
        <tbody>
            {% for cargo in cargos %}
            <tr>
                <td>{{ cargo.id }}</td>
                <td>{{ cargo.nome }}</td>

                <td>
                    <a href="{% url 'app_associacao:edit_cargo' cargo.pk %}" title="Editar"><span class="material-icons icon-edit">edit</span></a>
                    <a href="#" title="Excluir"><span class="material-icons icon-delete">delete</span></a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Nenhum profissão encontrada.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}