{% extends 'base.html' %}
{% load static %}

{% block title %}Lista Integrantes{% endblock title%}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/listas.css' %}">
    <link rel="stylesheet" href="{% static 'css/mensagens.css' %}"> 
{% endblock %}

{% block content %}
{% include 'components/navbar_superuser.html' %}

<div class="lista-container">
    <h1>Lista de Integrantes</h1>

    <div id="toast-container">
        {% for message in messages %}
            {% with message.tags as tag %}
                <div class="toast 
                    {% if 'success' in tag %}toast-success{% elif 'error' in tag or 'danger' in tag %}toast-error
                    {% elif 'info' in tag %}toast-info
                    {% elif 'warning' in tag %}toast-warning
                    {% else %}toast-info{% endif %}">
                    <span>{{ message }}</span>
                    <button class="toast-close" onclick="this.parentElement.remove()">×</button>
                </div>
            {% endwith %}
        {% endfor %}
    </div>

    <table class="table-list">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Associação</th>
                <th>Repartição</th>
                <th>Cargo</th>
                <th>Celular</th>                
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for integrante in integrantes %}
            <tr>
                <td>{{ integrante.user }}</td>
                <td>{{ integrante.associacao }}</td>
                <td>{{ integrante.reparticao }}</td>
                <td>{{ integrante.cargo }}</td>
                <td>{{ integrante.celular }}</td>
                <td>
                    <a href="{% url 'app_associacao:single_integrante' integrante.pk %}" title="Ver"><span class="material-icons icon-view">visibility</span></a>
                    <a href="{% url 'app_associacao:edit_integrante' integrante.pk %}" title="Editar"><span class="material-icons icon-edit">edit</span></a>
                    <a href="#" title="Excluir"><span class="material-icons icon-delete">delete</span></a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">Nenhuma integrante encontrada.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}    